.hand {
	transform: rotate(270deg); 
	margin: 300px; 
	width: 100px; 
	height: 100px;
}
.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	bottom: 200px;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 200px solid red;
	position: relative;
	bottom: 190px;
	left: 30px;
}
