body {
    background-color: #48a5e6;
}
.content {
    width: 700px;
    margin: 0 auto;
}
.hand {
    transform: rotate(220deg);
    margin: 0 auto;
    margin-top: -300px;
    width: 0;
    height: 0;
}
.triangle-up {
    width: 10px;
    height: 50px;
    background-color: #fff;
    position: relative;
    bottom: 288px;
}
.background {
    margin: 0 auto;
    background-image: url('bg.png');
    background-size: cover;
    width: 600px;
    height: 600px;
    position: relative;
}
.deg {
    text-align: center;
    font-size: 100px;
    font-family: arial;
    color: #fff;
    margin-top: -46px;
}
